@font-face {
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/7Au9p_AqnyWWAxW2Wk3Gw2QIAFg.woff2') format('woff2');
    /* latin-ext */
}

@font-face {
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/7Au9p_AqnyWWAxW2Wk3GzWQI.woff2') format('woff2');
    /* latin */
}

@font-face {
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/7Au9p_AqnyWWAxW2Wk3Gw2QIAFg.woff2') format('woff2');
    /* latin-ext */
}

@font-face {
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/7Au9p_AqnyWWAxW2Wk3GzWQI.woff2') format('woff2');
    /* latin */
}

body {
    font-family: "Maven Pro", sans-serif;
    padding-top: 70px;
    background: linear-gradient(45deg, rgba(255, 255, 255, 1) 55%, #4946A6 100%);
}

a {
    font-weight: normal;
    text-decoration: none !important;
    transition: all 0.4s ease;
    color: #212529;
}

a:hover {
    color: #4946A6 !important;
}

.full-screen {
    padding: 5rem 0;
}

.animated-item.active {
    display: inline-block;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999999;
    will-change: transform;
    transition: transform 200ms linear;
}

.navbar[class*="-unpinned"] {
    transform: translate(0, -150%);
}

.navbar[class*="-pinned"] {
    transform: translate(0, 0);
}

.navbar[class*="headroom--not-top"] {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-expand-sm .navbar-nav .nav-link {
    padding: 0 20px;
}

.nav-link {
    font-weight: bold;
    font-size: 16px;
    overflow: hidden;
}

.nav-link span {
    position: relative;
    display: inline-block;
    transition: transform 0.3s;
}

.nav-link span:before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    transform: translate3d(0, 0, 0);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #4946A6;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:focus span,
.navbar-light .navbar-nav .nav-link:hover span {
    transform: translateY(-100%);
}

.navbar-light .navbar-toggler-icon {
    background: none;
}

.navbar-toggler {
    border: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    line-height: 32px;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:first-child {
    transform: rotate(45deg);
    top: 6px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:nth-child(2) {
    display: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:last-child {
    transform: rotate(-45deg);
    bottom: 1px;
}

.navbar-toggler .navbar-toggler-icon {
    background: #212121;
    display: block;
    width: 100%;
    height: 2px;
    margin: 5px 0;
    transition: all 0.4s ease;
    position: relative;
}

/* Experience */
.timeline-wrapper {
    position: relative;
    padding: 22px 0;
    transition: all 0.3s ease;
    border-radius: 5px;
    margin-bottom: 20px;
}

.timeline-wrapper:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    background-color: #f8f9fa;
    z-index: 1;
}

.timeline-info h3 {
    transition: color 0.3s ease;
}

.timeline-wrapper:hover .timeline-info h3 {
    color: #C06CEB;
}

.timeline-wrapper:last-child:before {
    height: 0;
}


.timeline-info {
    display: inline-block;
    vertical-align: top;
    max-width: 500px;
    padding-left: 1rem;
}

.timeline-info small {
    color: #474559;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
}

.dark-mode .timeline-wrapper {
    color: #fff;
}

.dark-mode .timeline-wrapper:hover {
    background-color: #444;
}

.dark-mode .timeline-info h3 {
    color: #fff;
}

.dark-mode .timeline-wrapper:hover .timeline-info h3 {
    color: #04BFBF;
}

.dark-mode .timeline-info small {
    color: #bbb;
}

/* Contact */
.contact-form {
    position: relative;
}

.contact-form .form-control {
    background: transparent;
    border-radius: 2px;
    outline: none;
    box-shadow: none;
    font-weight: bold;
    margin: 16px 0;

}

.dark-mode .contact-form .form-control {
    color: #ffffff;
}

.contact-form .form-control:not(textarea) {
    height: 48px;
}

.contact-form .form-control:hover,
.contact-form .form-control:focus {
    border-color: #4946A6;
}

.contact-form .submit-btn {
    background: #4946A6;
    border-radius: 50px;
    color: #ffffff;
    font-weight: bold;
    border: 0;
    cursor: pointer;
    transition: all 0.4s ease;
}

.dark-mode .contact-form .form-control:hover,
.dark-mode .contact-form .form-control:focus {
    border-color: #04BFBF;
}

.contact-form .submit-btn:hover {
    background: #474559;
}

.contact-info {
    background: #474559;
    border-radius: 0 0 3px 3px;
    position: relative;
    bottom: 8px;
}

.contact-info p,
.contact-info a {
    color: #f7f3f3;
}

/* Carousel */
.owl-carousel .owl-nav span {
    display: none;
}

.owl-carousel .owl-nav .owl-prev:before,
.owl-carousel .owl-nav .owl-next:before {
    background: none;
    padding: 0;
    display: block;
    position: absolute;
    top: 20%;
    transform: translate(0, -50%);
    font-size: 100px;
    line-height: normal;
}

.owl-carousel .owl-nav .owl-prev:before {
    content: '\2190';
    left: -45px;
}

.owl-carousel .owl-nav .owl-prev:hover:before {
    color: #4946A6;
}

.dark-mode .owl-carousel .owl-nav .owl-prev:hover:before {
    color: #04BFBF;
}

.owl-carousel .owl-nav .owl-next:before {
    content: '\2192';
    right: -45px;
}

.owl-carousel .owl-nav .owl-next:hover:before {
    color: #4946A6;
}

.dark-mode .owl-carousel .owl-nav .owl-next:hover:before {
    color: #04BFBF;
}

.owl-theme .owl-nav [class*=owl-] {
    background: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    font-size: inherit;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    color: #4946A6;
}

.owl-theme .owl-dots .owl-dot {
    outline: none;
}

.owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #5b5b5b;
}

/* Footer */
#footer-neon {
    position: relative;
}

body:not(.dark-mode) .neon-clock {
    font-size: 48px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.1em;
}

body:not(.dark-mode) .neon {
    color: #808080;
    text-shadow:
        0 0 5px #808080,
        0 0 10px #808080,
        0 0 15px #808080,
        0 0 20px #add8e6,
        0 0 25px #add8e6,
        0 0 30px #add8e6;
    transition: transform 0.2s, text-shadow 0.2s;
}

body:not(.dark-mode) .neon:hover {
    transform: scale(1.1);
    text-shadow:
        0 0 8px #808080,
        0 0 15px #808080,
        0 0 20px #808080,
        0 0 30px #add8e6,
        0 0 40px #add8e6,
        0 0 50px #add8e6;
}

.neon-clock {
    font-size: 48px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.1em;
}

.neon {
    color: #39ff14;
    text-shadow:
        0 0 5px #39ff14,
        0 0 10px #39ff14,
        0 0 20px #39ff14,
        0 0 40px #ff00ff,
        0 0 80px #ff00ff,
        0 0 90px #ff00ff,
        0 0 100px #ff00ff,
        0 0 150px #ff00ff;
    transition: transform 0.2s, text-shadow 0.2s;
}

.neon:hover {
    transform: scale(1.1);
    text-shadow:
        0 0 10px #ffffff,
        0 0 20px #ffffff,
        0 0 30px #ffffff,
        0 0 40px #39ff14,
        0 0 70px #39ff14,
        0 0 80px #39ff14,
        0 0 100px #39ff14;
}

.color-mode {
    font-weight: bold;
    cursor: pointer;
}

.color-mode-icon {
    position: relative;
    right: 6px;
}

.color-mode-icon:after {
    font-family: 'unicons';
    content: '\ea9f';
    font-size: 30px;
    font-weight: 300;
    font-style: normal;
}

.color-mode-icon.active:after {
    font-family: 'unicons';
    content: '\eb65';
    font-size: 30px;
    color: #ffffff;
}

.dark-mode {
    background: linear-gradient(45deg, #000000 55%, #3c3c82 100%);
}


.dark-mode .navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.8);
}


.dark-mode .small-text {
    color: #ffffff;
}


.dark-mode .navbar-light .navbar-brand,
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6,
.dark-mode .color-mode,
.dark-mode a,
.dark-mode p {
    color: #ffffff;
}

.dark-mode a:hover {
    color: #04BFBF !important;
}

.dark-mode .owl-carousel .owl-nav button.owl-next,
.dark-mode .owl-carousel .owl-nav button.owl-prev,
.dark-mode .owl-carousel button.owl-dot {
    color: #ffffff;
}

@media (min-width: 1270px) {
    .owl-theme .owl-dots {
        position: relative;
        bottom: 50px;
    }
}

@media (max-width: 991px) {
    .full-screen {
        padding-bottom: 4rem;
    }

    .color-mode {
        display: none;
    }

    .about-image {
        margin-top: 4em;
    }

    .mobile-mt-2,
    .contact-form {
        margin-top: 2em;
    }

    .contact-info {
        padding: 0 2rem;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 2.4em;
    }

    h2 {
        font-size: 2em;
    }

    .animated-item {
        font-size: 28px;
        display: none;
    }

    .navbar-collapse {
        text-align: center;
        padding-bottom: 20px;
    }

    .navbar-expand-sm .navbar-nav .nav-link {
        padding: 3px 20px;
    }
}

@media (max-width: 580px) {
    .animated-info {
        min-width: 200px;
    }

    .animated-item {
        font-size: 30px;
        display: none;
    }

    .custom-btn-group {
        text-align: center;
    }

    .custom-btn {
        display: block;
        margin: 10px 0;
    }

    .owl-theme .owl-nav {
        display: none;
    }

    .timeline-info small {
        display: block;
        margin: 10px 0 0 0;
    }
}

@media (max-width: 320px) {
    .animated-text {
        margin-top: 0;
    }

    .about-text {
        text-align: center;
    }

    .full-screen {
        padding: 4rem 0;
    }

    .mobile-block {
        display: block;
    }

    .contact-info {
        flex-direction: column;
    }

}